[Desktop Entry]
Encoding=UTF-8
Name=Lien vers Talent hub Simplon – Figma
Type=Link
URL=https://www.figma.com/design/OQxmeRvxRDjsUOezPP4dnO/Talent-hub-Simplon?node-id=0-1&p=f
Icon=mate-fs-bookmark
